
<nav class="navbar navbar-expand-lg navbar-dark bg-warning d-flex " >
    <div class="collapse navbar-collapse mr-auto p-2" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <button class="nav-link ecriture">Logo</button>  
        </li>
        <li class="nav-item">
          <button class="nav-link ecriture" (click)="filterProduct('Catalogue')">Catalogue</button>  
          
        </li>
        <li class="nav-item">
          <button class="nav-link ecriture" (click)="filterProduct('burger')">Burger</button>  
        </li>
        <li class="nav-item">
          <button class="nav-link ecriture" (click)="filterProduct('menu')">Menu</button>  

        </li>
      </ul>
    </div>
    <div class=" ml-auto p-2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link ecriture" href="#">Creer un compte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ecriture" href="#">Se connecter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ecriture" href="#">panier</a>
            </li>
            
          </ul>
    </div>
  </nav>

