<div class="card mb-3" style="width: 19rem; height:min-content">
    <img class="card-img-top" src="data:image/PNG;base64,{{produits?.image}}" >
    <div class="card-body">
      <h5 class="card-title">{{produits?.prix}}<div class="prix"></div></h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nobis, quos veniam perspiciatis soluta vel nesciunt quisquam nisi.</p>
      <a routerLink="" class="btn btn-success tout">{{produits?.nom}}</a>
      <a  class="btn btn-warning tout">Ajouter au panier</a>
    </div>
 </div>